<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光首页</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="nav fr">
			<ul>
				<li class="nav_line"><a href="index.html">首页</a></li>
				<li><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><span class="dl">登&nbsp;录</span></a>    <a href="zc.html"><span class="zc">注&nbsp;册</span></a></li>
			</ul>
	  </div>
	</div>
</div>
<div class="width100P vis"></div>
<div class="blank"></div>
<div class="width_site blank part01">
	<ul>
		<li class="line_right"><img src="images/ic01.png" /><br />累计筹资额<br /><span>62380<font size="2">万</font></span></li>
		<li class="line_right"><img src="images/ic02.png" /><br />融资项目总数<br /><span>380<font size="2">个</font></span></li>
		<li class="line_right"><img src="images/ic03.png" /><br />已交易投资人<br /><span>80<font size="2">人</font></span></li>
		<li class="line_right"><img src="images/ic04.png" /><br />创投机构共建<br /><span>38<font size="2">家</font></span></li>
		<li class="line_right"><img src="images/ic05.png" /><br />18个月获得下轮投资比例<br /><span>62380%</span></li>
		<li><img src="images/ic06.png" /><br />项目综合回报率<br /><span>62380%</span></li>
		
	</ul>
</div>
<div class="width100P bg">
	<div class="width_site part02"> 
		<h1>在金色光投资的九大理由</h1>
		<ul>
			<li>
				<h2><span>01</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>02</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>03</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>04</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>05</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>06</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>07</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>08</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
			<li>
				<h2><span>09</span>&nbsp;&nbsp;在金色光投资理由</h2>
				中国创业率低和天使投资人数量有限以及投资活跃度低有一定的关联性，因为数量有限，天使资金需求者多而天使投资人有限的情况下 。
			</li>
		</ul>
	</div>
</div>
<div class="width_site part03">
	<h1>成功案例<span style="font-size:12px;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">查看更多</a></span></h1>
	<ul>
		<li><div style=" position:absolute"><div class="img_logo"><img src="images/img_logo.jpg" /></div></div>
			<a href="#"><img src="images/img.jpg" />
			<div class="left_line part03_cont">发现城市之美<br /><font>￥</font><span>300</span><font>万</font><br />投资者<font>5</font>人	
			</div></a>
		</li>
		<li><div style=" position:absolute"><div class="img_logo"><img src="images/img_logo.jpg" /></div></div>
			<a href="#"><img src="images/img.jpg" />
			<div class="left_line part03_cont">发现城市之美<br /><font>￥</font><span>300</span><font>万</font><br />投资者<font>5</font>人	
			</div></a>
		</li>
		<li><div style=" position:absolute"><div class="img_logo"><img src="images/img_logo.jpg" /></div></div>
			<a href="#"><img src="images/img.jpg" />
			<div class="right_line left_line part03_cont">发现城市之美<br /><font>￥</font><span>300</span><font>万</font><br />投资者<font>5</font>人	
			</div></a>
		</li>
		<li><div style=" position:absolute"><div class="img_logo"><img src="images/img_logo.jpg" /></div></div>
			<a href="#"><img src="images/img.jpg" />
			<div class="right_line part03_cont">发现城市之美<br /><font>￥</font><span>300</span><font>万</font><br />投资者<font>5</font>人	
			</div></a>
		</li>
	</ul>
</div>
<div class="width100P bg">
	<div class="width_site part04"> 
		<h1>明星领投人<span style="font-size:12px;">&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#">查看更多</a></span></h1>
		<ul>
			<li><img src="images/img.jpg" /></li>
			<li><img src="images/img.jpg" /></li>
			<li><img src="images/img.jpg" /></li>
			<li><img src="images/img.jpg" /></li>
			<li><img src="images/img.jpg" /></li>
			<li><img src="images/img.jpg" /></li>
		</ul>
	</div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
			 </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
			 </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
			 </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
