<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光投资页面</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="sousuo fr">
			<form action="" method="get">
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
			  <tr>
				<td colspan="2"><a href="#"><span class="sousuo_fenlei">商品名称</span></a>&nbsp;&nbsp;<a href="#">项目名称</a></td>
			  </tr>
			  <tr>
				<td><input class="fl" type="text" name="textfield" />
			    <a href="#"><span class="sousuo_bnt fl">搜&nbsp;索</span></a></td>
			    <td width="24%"><a href="#">高级搜索</a></td>
			  </tr>
			  <tr>
				<td colspan="2"><a href="#">浴室柜</a>&nbsp;&nbsp; 隔断&nbsp;&nbsp;<a href="#"><font class="font_f60">手机</font></a>&nbsp;&nbsp;男鞋&nbsp;&nbsp;男士外套&nbsp;&nbsp;男羽绒服&nbsp;&nbsp;女士羽绒服&nbsp;&nbsp;女士毛衣&nbsp;&nbsp;毛呢女外套&nbsp;&nbsp;新款女包&nbsp;&nbsp;打底衫女&nbsp;&nbsp;行车记录仪</td>
			  </tr>
			</table>
			</form>
	  </div>
	</div>
</div>
<div class="width100P sousuo_nav">
	<div class="width_site">
			<ul>
				<li class="fl"><a href="index.html">首页</a></li>
				<li class="fl"><a href="touzi.html">投资</a></li>
				<li class="fl"><a href="chouzi.html">筹资</a></li>
				<li class="fl"><a href="sc.html">网上商城</a></li>
				<li class="fl"><a href="zhuanr.html">转让</a></li>
				<li class="fl"><a href="more.html">更多</a></li>
				<li class="fr"><img style="width:36px; height:36px;border-radius:20px; " src="images/ic03.png" />&nbsp;<a href="#">用户中心</a></li>
			</ul>
	</div>
</div>
<div class="width100P bg">
	<div class=" blank"></div>
	<div class="width_site sc_cent">
		<div class="sc_cent_left fl">
			<div class="sc_cent_left_img"><img src="images/img03.jpg" /></div>
			<ul>
				<li><span><img src="images/img03.jpg" /></span></li>
				<li><img src="images/img03.jpg" /></li>
				<li><img src="images/img03.jpg" /></li>
				<li><img src="images/img03.jpg" /></li>
			</ul>
		</div>
		<div class="sc_cent_right fr">
			<h2>大标题</h2>
			<h3>二标题二标题<br />
			二标题</h3>
			<table width="100%" border="0" cellpadding="10" cellspacing="0">
			  <tr>
				<td width="81%" bgcolor="#FDF5EE">价格：<font class="font_f60" style="font-size:20px; font-family:Arial">￥5320.00</font></td>
				<td width="19%" align="center" bgcolor="#FDF5EE"><span style="border-left:#f5dcce solid 1px; padding-left:10px;"><a href="#"><font class="font_f60">累积评价<br />
			    233</font></a></span></td>
			  </tr>
			  <tr>
				<td bgcolor="#FDF5EE"><font class="font_f60">促销消息：<span style="background-color:#F60; color:#FFF; padding:0px 5px 0px 5px;">加价购</span>&nbsp;满40元加10元可换购，或满50元加10元可换购。</font></td>
				<td bgcolor="#FDF5EE">&nbsp;</td>
			  </tr>
			  <tr>
			    <td height="65" colspan="2" bgcolor="#FFFFFF"><form id="form1" name="form1" method="post" action="">
			      数量：—
			      <label>
			      <input name="textfield2" type="text" value="1" size="5" />
			      +			      </label>
                 件（库存1123件）                
			    </form>			    </td>
		      </tr>
			  <tr>
			    <td colspan="2" bgcolor="#FFFFFF"><a href="#"><span class="bnt_goumai">立即购买</span></a><a href="#"><span class="bnt_gwc">加入购物车</span></a></td>
		      </tr>
		  </table>

		</div>
	</div>

  <div class="width_site touzi_main">
    <h1>相关产品推荐</h1>
	<ul>
			<li>
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
		 	</li>
			<li class="jl">
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
			</li>
			<li>
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
			</li>
			<li>
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
			</li>
			<li class="jl">
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
			</li>
			<li>
				<img src="images/img.jpg" />
				<h3><a href="sc_cent.html">彤光科技</a></h3>
				<div class="sc_price"><font size="+1" class="font_f60 fl">￥300</font><font class="fr">库存：23</font></div>
			</li>
	</ul>
  </div>
		<div class="width_site">
			<div class="main_page">
			<a style="border-top-left-radius:3px;border-bottom-left-radius:3px; background-color:#7fbb30; color:#FFF" href="#">1</a><a href="#">2</a><a href="#">3</a><a style="border-right:#CCC solid 1px;border-top-right-radius:3px;border-bottom-right-radius:3px;" href="#">&gt;</a>
			</div>
		</div>
</div>


<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
			 </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
			 </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
			 </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
