<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光投资页面</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="nav fr">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li class="nav_line"><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><span class="dl">登&nbsp;录</span></a>    <a href="zc.html"><span class="zc">注&nbsp;册</span></a></li>
			</ul>
	  </div>
	</div>
</div>
<div class="width100P vis"></div>
<div class="width100P bg">
	<div class="width_site">
		<div class="touzi_title"><a href="index.html">首页</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;<a href="touzi.html">项目列表</a>&nbsp;&nbsp;&gt;&nbsp;&nbsp;彤光科技</div>
	  <div class="touzi_part01">
	  	<div class="touzi_p01_img"><img src="images/img.jpg" /></div>
		<div class="touzi_p01_cent">
			<h3><span class="fl">彤光科技</span><span style="font-size:12px" class="fr"><img src="images/ic07.png" width="9" height="12" />&nbsp;上海&nbsp;&nbsp;&nbsp;<img src="images/ic08.png" width="12" height="12" />&nbsp;其它类目</span></h3>
			彤光科技有限公司是一家高新术企业、多年来研发团队致力于液晶……【<a href="#">查看更多</a>】		<br />
			<span class="font_f60">计划筹资：150万&nbsp;&nbsp;股份：15.00%&nbsp;&nbsp;实际筹资和股份：161万&nbsp;&nbsp;公司估值：850万</span><br />
				创使人<img src="images/ren.jpg" />&nbsp;&nbsp;领投人&nbsp;&nbsp;虚位以待
			</div>
			<div class="touzi_p01_bnt"><a href="#">我要投资</a></div>
		</div>
		<div class="touzi_part02">
			<div class="touzi_p02_fl"><img width="320" src="images/img02.jpg"/></div>
			<div class="fr">
				<div class="touzi_o02_nav">
					<span class="touzi_p02_navZ"><a href="#">投资者</a></span>
					<span class="touzi_p02_navZ"><a href="#">常见问题</a></span>
					<span class="touzi_p02_navZ"><a href="#">更新</a></span>
					<span class="touzi_p02_navZ"><a href="#">团队</a></span>
					<span class="touzi_p02_navZ"><a href="#">市场</a></span>
					<span style="border-left:#dfe1e3 solid 1px;border-top-left-radius:3px; color:#F60;" class="touzi_p02_navX">概念</span>
				</div>
				<div class="touzi_p02_fr">
					<img src="images/img01.jpg" width="751" /><br />
					<h3>公司简介</h3>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东莞市彤光科技有限公司是一家高新术企业，多年来研发团队致力于液晶显示器测试技术和视觉自动化技术的研发，公司产品及解决方案主要应用于液晶显示器行业，提供从背光模组、液晶显示模组和触摸屏面板的视觉检测方案，同时也为客户提供视觉检测及装配等自动化设备的定制。公司属于精密质检仪器制造行业。
					  <h3>公司简介</h3>
					  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;东莞市彤光科技有限公司是一家高新术企业，多年来研发团队致力于液晶显示器测试技术和视觉自动化技术的研发，公司产品及解决方案主要应用于液晶显示器行业，提供从背光模组、液晶显示模组和触摸屏面板的视觉检测方案，同时也为客户提供视觉检测及装配等自动化设备的定制。公司属于精密质检仪器制造行业。		
					 </div>			
			</div>
		</div>
	  
	</div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
			 </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
			 </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
			 </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
