<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光首页</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
		<div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
		<div class="nav fr">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><img style="width:36px; height:36px;border-radius:20px; " src="images/ic03.png" />&nbsp;<a href="#">用户中心</a></li>
			</ul>
		</div>
	</div>
</div>
<div class="width100P bg">
	<div class="user_nav">
		<ul>
			<li class="user_nav_line"><a href="user1.html">项目信息维护</a></li>
			<li class="user_nav_line"><a href="user2.html"><span class="font_f60">筹资进展</span></a></li>
			<li class="user_nav_line"><a href="user3.html">投资人</a></li>
			<li class="user_nav_line"><a href="user4.html">与投资人互动</a></li>
			<li class="user_nav_line"><a href="user5.html">网上商城</a></li>
			<li class="user_nav_line"><a href="user6.html">股权转让信息</a></li>
			<li><a href="user7.html">筹资后续跟进</a></li>
		</ul>
	</div>
	<div class="user">
		<ul>
			<li class="user_cent_navbg"><a href="user2.html"><font color="#FFFFFF">筹资情况</font></a></li>
			<li><a href="user2_02.html">筹资提醒和支付</a></li>
		</ul>
		<form action="" method="get">
		<br />
		<br />
		<table width="580" border="0" align="center" cellpadding="10" cellspacing="0">
		  
		  <tr>
		    <td width="460" align="center">预计筹资额<br />
	        <span class="font_18 font_f60">￥1,350,000</span></td>
	        <td width="460" align="center">预计股份<br />
            <span class="font_18 font_f60">20.06%</span></td>
		  </tr>
		  <tr>
			<td colspan="2" align="left"><div class="jindut_line">
				<div class="jindut">77%</div>
			</div></td>
		  </tr>
		  <tr>
			<td align="center">实际筹资额<br />
                <span class="font_18 font_f60">￥1,152,972</span>		    </td>
		    <td align="center">公司估值<br />
              <span class="font_18 font_f60">￥5,350,000</span></td>
		  </tr>
		</table>

		
		<br />
		<br />
		</form>
	</div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
		  </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
		  </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
		  </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
