<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光首页</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="nav fr">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><span class="dl">登&nbsp;录</span></a>    <a href="zc.html"><span class="zc">注&nbsp;册</span></a></li>
			</ul>
	  </div>
	</div>
</div>
<div class="width100P bg">
  <div class="dl">
  	<div class="dl_title">
		<h1>注册成为投资人或创业者</h1>
		<h2><span class="font_f60">创建者</span>可创建项目，开始融资<span class="font_f60">投资人</span>可申请，获取投资项目的权限</h2>
	</div>
	<div class="dl_cent">
		<div class="dl_cent_left">
			<div class="dl_nav"><a href="#"><span class="dl_nav_f60">手&nbsp;机&nbsp;注&nbsp;册</span></a><a href="#">&nbsp;<span class="dl_nav_line">邮&nbsp;箱&nbsp;注&nbsp;册</span></a></div>
			<form action="" method="get">
			  <table width="100%" border="0" cellspacing="0" cellpadding="5">
                  <tr>
                    <td width="17%" align="right">手机号码</td>
                    <td colspan="2"><label>
                      <input name="textfield" type="text" class="dl_input" size="48" />
                    </label></td>
                  </tr>
                  <tr>
                    <td align="right">设置密码</td>
                    <td colspan="2"><input name="textfield2" type="text" class="dl_input" size="48" /></td>
                  </tr>
                  <tr>
                    <td align="right">真实姓名</td>
                    <td colspan="2"><input name="textfield3" type="text" class="dl_input" size="48" /></td>
                  </tr>
                  <tr>
                    <td align="right">图片认证</td>
                    <td width="46%"><input name="textfield4" type="text" class="dl_input_200" size="48" /></td>
                    <td>图形认证图片</td>
                  </tr>
                  <tr>
                    <td align="right">验证码</td>
                    <td><input name="textfield42" type="text" class="dl_input_200" size="48" /></td>
                    <td><span class="bnt_duanxin"><a href="#">发送短信验证码</a></span></td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2"><input name="checkbox"  type="checkbox" style="list-style:none" value="checkbox" checked="checked" />
                    我已认真阅读并同意《<a href="#">金色光用户服务协议</a>》</td>
                  </tr>
                  <tr>
                    <td>&nbsp;</td>
                    <td colspan="2"><span class="bnt_zc"><a href="#">创建您的帐号</a></span></td>
                  </tr>
                </table>
			</form>
		</div>
		<div class="dl_cent_right">
			<h1>第三方帐号登录</h1>
			<a href="#"><span><img src="images/weixin_ic.png" />&nbsp;&nbsp;微信登录</span></a>
			<a href="#"><span><img src="images/qq.png" />&nbsp;&nbsp;QQ登录</span></a>
			<a href="#"><span><img src="images/weibo_ic.png" />&nbsp;&nbsp;微博登录</span></a>
		</div>
	</div>
  </div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
		  </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
		  </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
		  </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
