<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光首页</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="nav fr">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><span class="dl">登&nbsp;录</span></a>    <a href="zc.html"><span class="zc">注&nbsp;册</span></a></li>
			</ul>
	  </div>
	</div>
</div>
<div class="width100P bg">
  <div class="dl">
  	<div class="dl_title">
		<h1>选择身份</h1>
		<h2>为了提供更好的服务，请您选择身份</h2>
	</div>
	<div class="dl_cent">
	  <form id="form1" name="form1" method="post" action="">
	    <table width="100%" border="0" cellspacing="0" cellpadding="10">
          <tr>
            <td align="center" class="line_zhuanr">
              <input type="radio" name="radiobutton" value="radiobutton" />
            申请成为投资人&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="radiobutton" value="radiobutton" />个人申请&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="radio" name="radiobutton" value="radiobutton" />
            机构申请</td>
          </tr>
          <tr>
            <td>
				<div style="width:860px; line-height:25px; border:#f5d76e solid 1px; background-color:#FDF5EE; padding:10px; margin-left:20px; margin-top:20px; margin-bottom:20px;">
				  <strong>注意说明：</strong><br />
					此处自我评定为专业投资人，需要满足一系列的条件，同时要求签订类似合同的契约，接受投资中会损失财产，相当于认定投融资存在的风险。<br />
				</div>
			</td>
          </tr>
          <tr>
            <td align="center"><span style="border:#F60 solid 2px; padding:5px 15px 5px 15px;border-radius:3px;"><img src="images/ic_pingjia.png" width="16" height="16" />&nbsp;自我评价</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OR&nbsp;&nbsp;&nbsp;&nbsp;<span style="border:#CCC solid 2px; padding:5px 15px 5px 15px;border-radius:3px;"><img src="images/ic_diaocha.png" width="16" height="16" />&nbsp;&nbsp;问卷调查</span></td>
          </tr>
        </table>
            </form>
    </div>
  </div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
		  </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
		  </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
		  </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
