<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金色光首页</title>
<link href="styles/public.css" rel="stylesheet" type="text/css" />
<link href="styles/index.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css" />
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="top width_100P">
	<div class="width_site">
	  <div class="logo fl"><a href="index.html"><img src="images/LOGO.jpg" width="170" height="67" border="0" /></a></div>
	  <div class="nav fr">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="touzi.html">投资</a></li>
				<li><a href="chouzi.html">筹资</a></li>
				<li><a href="sc.html">网上商城</a></li>
				<li class="nav_line"><a href="zhuanr.html">转让</a></li>
				<li><a href="more.html">更多</a></li>
				<li><a href="denglu.html"><span class="dl">登&nbsp;录</span></a>    <a href="zc.html"><span class="zc">注&nbsp;册</span></a></li>
			</ul>
	  </div>
	</div>
</div>
<div class="width100P vis">
	<div class="width_site">
		<div class="bnt_vis"><a href="#">我要转让</a></div>
	</div>
</div>
<div class="width100P bg">
	<div class="width_site zhuanr">
		<ul>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>
			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			<li>
			<table width="100%" border="0" cellspacing="0" cellpadding="8">
			  <tr>
				<td colspan="4" class="line_zhuanr"><font class="font_f60" size="+2">股权转让</font>&nbsp;&nbsp;小爱家智能情趣社交项目</td>
				<td align="right" class="line_zhuanr">出让人：<img src="images/ren.jpg" width="41" height="41" />&nbsp;余政海</td>
			  </tr>
			  <tr>
				<td>原投资金额：<font class="font_f60">80000元</font></td>
				<td>出让价格：<font class="font_f60">240000元</font></td>
				<td>占当轮投资总额：<font class="font_f60">2.0000%</font></td>
				<td>点当轮项目股权：<font class="font_f60">0.2000%</font></td>
				<td>持有方式：<font class="font_f60">有限合伙</font></td>
			  </tr>
			  <tr>
				<td>税务承担：<font class="font_f60">出让方自行申报</font></td>
				<td>付款方式：<font class="font_f60">一次性付清全款</font></td>
				<td>信息有效期：<font class="font_f60">2016-01-31</font></td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			  </tr>
			  <tr>
				<td colspan="5">转让说明：<font color="#999999">京东投资轮按估值一个亿打款已完成，看得懂的来</font></td>
			  </tr>
			  <tr>
				<td colspan="5" align="right"><font style="text-decoration:line-through">原投资金额80000元</font>&nbsp;&nbsp;&nbsp;出让价格：<font class="font_f60">240000元</font>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#"></a><a href="#"><span class="bnt_zhuanr">有意购买</span></a></td>
		      </tr>
			</table>

			</li>
			
		</ul>
	</div>
</div>
<div class="width100P footer_nav">
	<div class="width_site">
		<ul>
			<li>
				<h3>联系我们</h3>
				全国统一热线：<br /><font style="font-size:16px">18133787824</font>(9:00-21:00)<br />邮箱：<br /><font style="font-size:16px">nana19880312@163.com</font>
			</li>
		 	<li>
				<h3>公司介绍</h3>
			  <span><a href="about.html">关于我们息</a></span>
			  <span><a href="about.html">我们的团队</a></span>
			  <span><a href="about.html">招聘信</a></span>
		  </li>
		 	<li>
				<h3>帮助中心</h3>
			  <span><a href="about.html">成功案例</a></span>
			  <span><a href="about.html">投融资指导</a></span>
			  <span><a href="about.html">常见问题</a></span>
			  <span><a href="about.html">术语</a></span>
		  </li>
		 	<li>
				<h3>法律信息</h3>
			  <span><a href="about.html">风险提示</a></span>
			  <span><a href="about.html">隐私保护</a></span>
			  <span><a href="about.html">服务条款</a></span>
			  <span><a href="about.html">推荐费用条款</a></span>
		  </li>
		</ul>
	</div>
</div>
<div class="width100P footer">
	<div class="width_site">
		<div class="fl" style="font-size:14px;">©2014云筹 All rights reserved | 深圳前海云筹互联网金融服务有限公司 | 粤ICP备11093162号-4</div>
		<div class="fr" style="padding-top:12px;"><img alt="金色光微博" src="images/weibo.png" style="padding-right:5px;" /><img alt="金色光微信" src="images/weixin.png" /></div>
	</div>
</div>
</body>
</html>
